# fly.toml app configuration file generated for bela-pro on 2026-01-28T17:20:04Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bela-pro'
primary_region = 'gru'

[build]
  dockerfile = 'Dockerfile'

[env]
  NODE_ENV = 'production'
  PORT = '8080'
  TZ = 'America/Sao_Paulo'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 200
    soft_limit = 100

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '30s'
    method = 'GET'
    path = '/api/v1/health'

[vm]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
