[phases.setup]
nixPkgs = ["nodejs_22", "npm-9_x"]

[phases.install]
cmds = ["npm ci --include=dev"]

[phases.build]
cmds = ["npx prisma generate --schema=prisma/schema.prisma", "npm run build"]

[start]
cmd = "node apps/api/dist/main.js"

[caches]
enabled = false
